VS/.vs
VS/Debug
VS/Algorithms/Debug
build
.vscode
*.swp
*.log
*.tlog
*.db
*.ipch
*.obj
*.pdb
*.exe
*.opendb
*.suo
*.filters
ModernCpp/ModernCpp/*.vcxproj
ModernCpp/ModernCpp/*.filters
ModernCpp/ModernCpp/Debug
ModernCpp/.vs